### Multiple Linear Regresion and Adjusted R-Squered

## Importing the relevant libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
# for improved graphs
import seaborn
seaborn.set()

## Load the data

In [2]:
data = pd.read_csv('1.02. Multiple linear regression.csv')
data  # Show loaded data
'''
SAT - Reslut of test after highschool
GPA - Marks on college
Rand 1,2,3 - Random generated values
'''

'\nSAT - Reslut of test after highschool\nGPA - Marks on college\nRand 1,2,3 - Random generated values\n'

In [3]:
data.describe() # Show description of loaded data

               SAT        GPA  Rand 1,2,3
count    84.000000  84.000000   84.000000
mean   1845.273810   3.330238    2.059524
std     104.530661   0.271617    0.855192
min    1634.000000   2.400000    1.000000
25%    1772.000000   3.190000    1.000000
50%    1846.000000   3.380000    2.000000
75%    1934.000000   3.502500    3.000000
max    2050.000000   3.810000    3.000000

## Create first multiply regression

In [4]:
# Assign the values
y = data['GPA']
x1 = data[["SAT","Rand 1,2,3"]]

In [5]:
# Making regresion
x = sm.add_constant(x1)
result = sm.OLS(y,x).fit()
result.summary()

'''
Adj. R-squared is lower then in single linear regression.
And p - value of Rand 1,2,3 is > 5% that mean it destroy our
calculation. So we should remove Rand 1,2,3 and make calculation
again or add another value to exam.

'''

'\nAdj. R-squared is lower then in single linear regression.\nAnd p - value of Rand 1,2,3 is > 5% that mean it destroy our\ncalculation. So we should remove Rand 1,2,3 and make calculation\nagain or add another value to exam.\n\n'